.card {
    width: 150px;
    height: 250px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid gray;
    transition: background-color 0.5s ease;
}

.back {
 background: linear-gradient(180deg, black 0%, #d00000 20%, #4343ff 40%, #bb0 60%, #399139 80%, black 100%);
}

.back > .innerCard {
    background-color: rgba(0,0,0,0.7);
}

.numberCard, .actionCard {
    font-size: 100px;
}

.numberCard {
    margin-bottom: 20px;
}


.top, .bottom {
    position: absolute;
    justify-content: space-between;
    font-size: 25px;
    right: 5px;
    left: 5px;
    height: 33px;
    color: black;
}

.top {
    top: 2px;
}

.bottom {
    bottom: 2px;
    flex-flow: row-reverse;
}

.img {
    height: 25px;
    width: 25px;
}

.cardContent,.JokerInnerFour {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-10deg);
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 0 rgb(108, 108, 108),
    1px 1px 0 rgb(88, 88, 88),
    2px 2px 0 rgb(68, 68, 68),
    3px 3px 0 rgb(48, 48, 48),
    4px 4px 3px rgba(0, 0, 0, 1),
    4px 4px 1px rgba(0, 0, 0, 0.5),
    0px 0px 3px rgba(0, 0, 0, .2);
}

.cardContent > svg {
    -webkit-filter: drop-shadow(0px 0px 0 rgb(108, 108, 108));
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 1));
}

.ellipse {
    position: absolute;
    inset: 0;
    top: 5%;
    left: 7%;
    right: 7%;
    bottom: 5%;
    border-radius: 50%;
    border: 5px solid gray;
    transform: rotate(10deg);
}

.innerCard {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    clip-path: ellipse(39.64% 43.25% at center center);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(10deg);
}

.red {
    background-color: #d00000;
}

.black {
    background-color: black;
    transition: background-color 0.5s ease;
}

.innerCard:before {
    content: "";
    position: absolute;
    inset: 0;
    transform: rotate(-10deg);
}

.red > .innerCard:before {
    background: url('/public/static/calli.jpg') center/cover;
}

.green {
    background-color: #399139;
}

.green > .innerCard:before {
    background: url('/public/static/ina.jpg') center/cover;
}

.yellow {
    background-color: #bb0;
}

.yellow > .innerCard:before {
    background: url('/public/static/kiara.jpg') center/cover;
}

.blue {
    background-color: #4343ff;
}

.blue > .innerCard:before {
    background: url('/public/static/gura.jpg') center/cover;
}

.JokerContainer {
    position: absolute;
    inset: 0;
}

.JokerRow {
    height: 125px;
}

.JokerInnerFour{
    transform: unset;
    font-size: 100px;
    background-color: unset;
}

.JokerInner {
    width: 73px;
    height: 123px;
    position: relative;
    border: 1px black solid;
}

.JokerImg {
    height: 25px;
    width: 25px;
    position: absolute;
}

.red > .JokerImg {
    top: 60%;
    left: 50%;
}

.blue > .JokerImg {
    top: 60%;
    right: 50%;
}

.yellow > .JokerImg {
    bottom: 60%;
    left: 50%;
}

.green > .JokerImg {
    bottom: 60%;
    right: 50%;
}
